html{
    font-family: Times
     
}
.header{
    font-size: 76
    
}
.mainlist{
    font-size: 30
    
}
.text{
    font-size: 30
    
}
.button{
    font-size: 30
    
}
.textbox{
    font-size: 30
}